.Arrival {
    &__inner {
        background: #cec6c4;
        height: 700px;
        display: flex;
        align-items: center;
    }
    &__inner-left {
        background: url('../..//Assets/Home/Arrival/ArrivalLeft.png');
        width: 640px;
        height: 700px;
    }
    &__left-content {
        padding: 150px 0 0 50px;
    }
    &__left-header {
        font-weight: 500;
        font-size: 90px;
        line-height: 102.5%;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 400px;
    }
    &__left-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        width: 420px;
        margin: 15px 0 28px 0;
    }
    &__left-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #EAE9E8;
    }


    &__inner-right {
        background-color: #FFFFFF;
        width: 600px;
        height: 600px;
        margin-left: 80px;
    }
    &__right-content {
        background: url('../../Assets/Home/Arrival/ArrivalRight.png');
        width: 380px;
        height: 380px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 110px auto;
    }
    &__right-title {
        width: 310px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 328px;
    }
    &__right-title-text {
        display: flex;
        justify-content: center;
    }
}